<br><br>
<h5 style="text-align: center">Invoice</h5>
<br>
<div style="width: 600px">
  <div>
    <label>Type:</label> {{ invoice?.type!.replace('_', ' ').toLowerCase() || '' }}
  </div>
  <hr>
  <div>
    <label>Truck number:</label> {{ invoice?.truckNumber || '' }}
  </div>
  <div>
    <label>Truck manager email:</label> {{ invoice?.truckManagerEmail || '' }}
  </div>
  <hr>
  <div>
    <label>Place number:</label> {{ invoice?.placeNumber || '' }}
  </div>
  <div>
    <label>Parking manager email:</label> {{ invoice?.parkingManagerEmail || '' }}
  </div>
  <hr>
  <div>
    <label>Creation date:</label> {{ UtilService.formatDateTime(invoice?.creationDate) || '' }}
  </div>
  <div>
    <label>Description:</label> {{ invoice?.description || '' }}
  </div>
</div>
<div *ngIf="invoice?.items!.length > 0">
  <div>
    <label>Items:</label>
  </div>
  <table border="1" class="table table-condensed table-responsive-md" style="font-size: 14px">
    <thead>
    <tr>
      <th style="width:20%">
        <a>Name</a>
      </th>
      <th style="width:15%">
        <a>Weight</a>
      </th>
      <th style="width:15%">
        <a>Price</a>
      </th>
      <th style="width:10%">
        <a>Amount</a>
      </th>
      <th style="width:20%">
        <a>Total weight</a>
      </th>
      <th style="width:20%">
        <a>Total price</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let item of invoice?.items">
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.weight | number: '1.2-2' }}</td>
      <td>{{ item.price | number: '1.2-2' }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.totalWeight | number: '1.2-2' }}</td>
      <td>{{ item.totalPrice | number: '1.2-2' }}</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<div>
  <label>Price:</label> {{ invoice?.price | number: '1.2-2' }}
</div>
<div *ngIf="!invoice?.signedByParkingManager">
  <label>Signed by parking manager:</label>
  <i class="material-icons grey">&#xea5b;</i> Waiting
</div>
<div *ngIf="invoice?.signedByParkingManager">
  <label>Signed by parking manager:</label>
  <i class="material-icons green">&#xe86c;</i> (
  {{ UtilService.formatDateTime(invoice?.signedByParkingManagerDate) || '' }}
  )
</div>
<div *ngIf="!invoice?.signedByTruckManager">
  <label>Signed by parking manager:</label>
  <i class="material-icons grey">&#xea5b;</i> Waiting
</div>
<div *ngIf="invoice?.signedByTruckManager">
  <label>Signed by truck manager:</label>
  <i class="material-icons green">&#xe86c;</i> (
  {{ UtilService.formatDateTime(invoice?.signedByTruckManagerDate) || '' }}
  )
</div>
<div *ngIf="!invoice?.signedByTruckManager" style="text-align: center;">
  <button (click)="signInvoice(invoice?.id!)"
          class="my-btn">Sign
  </button>
</div>
<div *ngIf="invoice?.signedByParkingManager && invoice?.signedByTruckManager " style="text-align: center;">
  <button (click)="exportInvoice(invoice?.id!)"
          class="my-btn">Export invoice
  </button>
</div>
<br>
<br>
