<br><br>
<h5 style="text-align: center">Parking place</h5>
<br><br>
<div *ngIf="isNew()" style="width: 700px">
  <div>
    <label>Place number:
      <input #placeNumber placeholder="Place number" type="text">
    </label>
  </div>
  <div>
    <label>Address:
      <input #address placeholder="Address" type="text">
    </label>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min width:
        <input #minWidth placeholder="Min width" type="number">
      </label>
    </div>
    <div class="col-6">
      <label>Max width:
        <input #maxWidth placeholder="Max width" type="number">
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min length:
        <input #minLength placeholder="Min length" type="number">
      </label>
    </div>
    <div class="col-6">
      <label>Max length:
        <input #maxLength placeholder="Max length" type="number">
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min height:
        <input #minHeight placeholder="Min height" type="number">
      </label>
    </div>
    <div class="col-6">
      <label>Max height:
        <input #maxHeight placeholder="Max height" type="number">
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min weight:
        <input #minWeight placeholder="Min weight" type="number">
      </label>
    </div>
    <div class="col-6">
      <label>Max weight:
        <input #maxWeight placeholder="Max weight" type="number">
      </label>
    </div>
  </div>
  <hr>
  <div>
    <label>Hourly pay:
      <input #hourlyPay placeholder="Hourly pay" type="number">
    </label>
  </div>
  <br>
  <div style="text-align: center">
    <button (click)="createPlace(placeNumber.value, address.value, minWidth.value, maxWidth.value,
    minLength.value, maxLength.value, minHeight.value, maxHeight.value, minWeight.value, maxWeight.value,
    hourlyPay.value)"
            class="my-btn">Create
    </button>
  </div>
</div>


<div *ngIf="!isNew()" style="width: 700px">
  <div class="row">
    <div class="col-6">
      <label>Min width:
        <input #minWidth placeholder="Min width" type="number"
               value="{{place?.minWidth | number: '1.2-2'}}">
      </label>
    </div>
    <div class="col-6">
      <label>Max width:
        <input #maxWidth placeholder="Max width" type="number"
               value="{{place?.maxWidth | number: '1.2-2'}}">
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min length:
        <input #minLength placeholder="Min length" type="number"
               value="{{place?.minLength | number: '1.2-2'}}">
      </label>
    </div>
    <div class="col-6">
      <label>Max length:
        <input #maxLength placeholder="Max length" type="number"
               value="{{place?.maxLength | number: '1.2-2'}}">
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min height:
        <input #minHeight placeholder="Min height" type="number"
               value="{{place?.minHeight | number: '1.2-2'}}">
      </label>
    </div>
    <div class="col-6">
      <label>Max height:
        <input #maxHeight placeholder="Max height" type="number"
               value="{{place?.maxHeight | number: '1.2-2'}}">
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <label>Min weight:
        <input #minWeight placeholder="Min weight" type="number"
               value="{{place?.minWeight | number: '1.2-2'}}">
      </label>
    </div>
    <div class="col-6">
      <label>Max weight:
        <input #maxWeight placeholder="Max weight" type="number"
               value="{{place?.maxWeight | number: '1.2-2'}}">
      </label>
    </div>
  </div>
  <hr>
  <div>
    <label>Hourly pay:
      <input #hourlyPay placeholder="Hourly pay" type="number"
             value="{{place?.hourlyPay | number: '1.2-2'}}">
    </label>
  </div>
  <br>
  <div style="text-align: center">
    <button (click)="updatePlace(minWidth.value, maxWidth.value,
    minLength.value, maxLength.value, minHeight.value, maxHeight.value, minWeight.value, maxWeight.value,
    hourlyPay.value)"
            class="my-btn">Update
    </button>
  </div>
</div>
