<br><br>
<div class="container" style="width: 900px">
  <p style="font-size: 15px">Last update: {{ UtilService.getTodayDate() || '00.00.0000 00:00' }} </p>
  <div>
    <h6 style="margin-top: 40px; margin-bottom: 30px; text-align: center;">Invoices</h6>
  </div>
  <br>
  <div style="margin-left: 30px">
    <button (click)="getAllInvoices()" class="btn-choice selected" id="1btn">All</button>
    <button (click)="getNotSignedByParkInvoices()" class="btn-choice" id="2btn" style="margin-left: 10px">Not signed by
      parking manager
    </button>
    <button (click)="getNotSignedByTrInvoices()" class="btn-choice" id="3btn" style="margin-left: 10px">Not signed by
      truck manager
    </button>
    <button (click)="getSignedInvoices()" class="btn-choice" id="4btn" style="margin-left: 10px">Signed</button>
  </div>
  <br>
  <div id="dateFilter" style="margin-left: 40px; display: block">
    <label for="placeNumber" style="margin-left: 10px; font-weight: bold; font-size: 17px">
      Place number:
    </label>
    <input #placeNumber id="placeNumber" name="placeNumber" style="margin-left: 10px; margin-right: 10px" type="text"/>

    <button (click)="search(placeNumber.value)" class="my-btn-search">Search</button>
    <button (click)="clear()" class="my-btn-clear">Clear</button>
  </div>
  <br>
  <table border="1" class="table table-condensed table-responsive-md" style="font-size: 14px">
    <thead>
    <tr>
      <th style="width:10%">
        <a>Type</a>
      </th>
      <th style="width:15%">
        <a>Truck number</a>
      </th>
      <th style="width:15%">
        <a>Place number</a>
      </th>
      <th style="width:20%">
        <a>Truck manager email</a>
      </th>
      <th style="width:20%">
        <a>Creation date</a>
      </th>
      <th style="width:10%">
        <a>Price</a>
      </th>
      <th style="width:10%">
        <a>Actions</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let invoice of invoices?.content">
    <tr>
      <td>{{ invoice.type }}</td>
      <td>{{ invoice.truckNumber }}</td>
      <td>{{ invoice.placeNumber }}</td>
      <td>{{ invoice.truckManagerEmail }}</td>
      <td>{{ invoice.creationDate }}</td>
      <td>{{ invoice.price }}</td>
      <td class="actions" data-th="">
        <a (click)="openInvoice(invoice.id)" title="more info" type="button">
          <i class="material-icons blue">&#xe88e;</i></a>&emsp;
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <a (click)="changePage(currentPage - 1)" title="previous" type="button"><i
      class="material-icons dark">&#xe5e0;</i></a>
    <span>{{ currentPage }} of {{ totalPages }}</span>
    <a (click)="changePage(currentPage + 1)" title="next" type="button"><i class="material-icons dark">&#xe5e1;</i></a>
  </div>
</div>
