<br><br>
<h5 style="text-align: center">{{ 'msg110' | translate }}</h5>
<br><br>
<div *ngIf="isNew()" style="width: 700px">
  <div>
    <label>{{ 'msg112' | translate }}:
      <input #number placeholder="Number" type="text">
    </label>
  </div>
  <hr>
  <div>
    <label>{{ 'msg113' | translate }}:
      <input #width placeholder="Width" type="number">
    </label>
  </div>
  <div>
    <label>{{ 'msg114' | translate }}:
      <input #length placeholder="Length" type="number">
    </label>
  </div>
  <div>
    <label>{{ 'msg115' | translate }}:
      <input #height placeholder="Height" type="number">
    </label>
  </div>
  <div>
    <label>{{ 'msg116' | translate }}:
      <input #weight placeholder="Weight" type="number">
    </label>
  </div>

  <br>
  <div style="text-align: center">
    <button (click)="createTruck(number.value, width.value, length.value, height.value, weight.value)"
            class="my-btn">{{ 'msg109' | translate }}
    </button>
  </div>
</div>


<div *ngIf="!isNew()" style="width: 700px">
  <div>
    <label>{{ 'msg113' | translate }}:
      <input #width placeholder="Width" type="number"
             value="{{truck?.width | number: '1.2-2'}}">
    </label>
  </div>
  <div>
    <label>{{ 'msg114' | translate }}:
      <input #length placeholder="Length" type="number"
             value="{{truck?.length | number: '1.2-2'}}">
    </label>
  </div>
  <div>
    <label>{{ 'msg115' | translate }}:
      <input #height placeholder="Height" type="number"
             value="{{truck?.height | number: '1.2-2'}}">
    </label>
  </div>
  <div>
    <label>{{ 'msg116' | translate }}:
      <input #weight placeholder="Weight" type="number"
             value="{{truck?.weight | number: '1.2-2'}}">
    </label>
  </div>
  <br>
  <div style="text-align: center">
    <button (click)="updateTruck(width.value, length.value, height.value, weight.value)"
            class="my-btn">{{ 'msg49' | translate }}
    </button>
  </div>
</div>
