<div>
  <br><br>
  <h5 style="text-align: center">{{ 'msg50' | translate }}</h5>
  <br><br>
  <div style="width: 800px;">
    <form (ngSubmit)="onSubmit()" [formGroup]="invoiceForm">
      <div>
        <div>
          <label>{{ 'msg52' | translate }}:
            <input formControlName="truckNumber" placeholder="Truck number" type="text">
          </label>
        </div>
        <div>
          <label>{{ 'msg54' | translate }}:
            <input formControlName="placeNumber" placeholder="Place number" type="text">
          </label>
        </div>
        <div>
          <label>{{ 'msg57' | translate }}:
            <input formControlName="description" placeholder="Description" type="text">
          </label>
        </div>
        <table border="1" class="table table-condensed table-responsive-md" style="font-size: 14px">
          <thead>
          <tr>
            <th style="width:30%">{{ 'msg59' | translate }}</th>
            <th style="width:20%">{{ 'msg60' | translate }}</th>
            <th style="width:20%">{{ 'msg61' | translate }}</th>
            <th style="width:20%">{{ 'msg62' | translate }}</th>
            <th style="width:10%">{{ 'msg35' | translate }}</th>
          </tr>
          </thead>
          <tbody formArrayName="items">
          <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
            <td>
              <input [placeholder]="'msg59' | translate" formControlName="name" type="text">
            </td>
            <td>
              <input [placeholder]="'msg60' | translate" formControlName="weight" step="0.01" type="number">
            </td>
            <td>
              <input [placeholder]="'msg61' | translate" formControlName="price" step="0.01" type="number">
            </td>
            <td>
              <input [placeholder]="'msg62' | translate" formControlName="amount" step="0.01" type="number">
            </td>
            <td>
              <button (click)="removeItem(i)" type="button">
                <i class="material-icons red">remove_circle</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div style="text-align: right; margin-top: 10px;">
          <button (click)="addItem()" type="button">
            <i class="material-icons green">add_circle</i>
          </button>
        </div>

        <br>
        <div style="text-align: center">
          <button class="my-btn" type="submit">{{ 'msg109' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
