<br><br>
<div *ngIf="LoginService.isTruckManager()">
  <div>
    <label>Avatar:
      <input #truckManagerAvatar id="managerAvatar" placeholder="Avatar" type="text"
             value="{{truckManager?.avatar || ''}}">
    </label>
  </div>
  <hr>
  <div>
    <label>Firstname:
      <input #truckManagerFirstName id="managerFirstName" placeholder="First name" type="text"
             value="{{truckManager?.firstName}}">
    </label>
  </div>
  <div>
    <label>Lastname:
      <input #truckManagerLastName id="managerLastName" placeholder="Last name" type="text"
             value="{{truckManager?.lastName}}">
    </label>
  </div>
  <div style="text-align: center">
    <button (click)="updateTruckManagerProfile(truckManagerAvatar.value,
    truckManagerFirstName.value, truckManagerLastName.value)"
            class="my-btn">Update
    </button>
  </div>
</div>
<div *ngIf="LoginService.isParkingManager()">
  <div>
    <label>Avatar:
      <input #managerAvatar id="managerAvatar2" placeholder="Avatar" type="text"
             value="{{parkingManager?.avatar || ''}}">
    </label>
  </div>
  <hr>
  <div>
    <label>Firstname:
      <input #managerFirstName id="managerFirstName2" placeholder="First name" type="text"
             value="{{parkingManager?.firstName}}">
    </label>
  </div>
  <div>
    <label>Lastname:
      <input #managerLastName id="managerLastName2" placeholder="Last name" type="text"
             value="{{parkingManager?.lastName}}">
    </label>
  </div>
  <div style="text-align: center">
    <button (click)="updateParkingManagerProfile(managerAvatar.value, managerFirstName.value, managerLastName.value)"
            class="my-btn">Update
    </button>
  </div>
</div>
